@import 'settings';
@import 'foundation-emails';
@import 'template/template';

.gray{
  background: $gray;
}

.dark-gray{
  background: $dark-gray;
}

.header{
  background: $purple;
  color: $white;
  height: 80px;
}

.content{
  h6{
    text-align: center;
    color: $purple;
    font-size: 20px;
    font-weight: bold;
  }

  p{
    font-weight: 300;
    font-size: 12px;
    text-align: center;

    &.bold{
      font-weight: bold;
    }
  }

  a{
    background: $purple;
    color: $white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 12px;
  }
}

.content2{
  background: $purple;
  color: $white;

  h6{
    text-align: center;
    color: $white;
    font-size: 20px;
    font-weight: bold;
  }

  p{
    font-weight: 300;
    font-size: 12px;
    text-align: center;
  }

  .circle{
    color: $white;
    display: flex;
    flex-direction: column;
    border: 0.8px solid $white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto;

    h6{
      font-size: 30px;
    }

    p{
      color: $white;
    }
  }

  i {
    color: $white;
    text-align: center;
  }

  a{
    background: $white;
    color: $purple;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 12px;
  }
}

.footer-links{
  font-size: 7px;
  a{
    color: $dark-gray !important;
  }
}

.footer-text{
  font-size: 7px;
  color: $dark-gray;
}

.address{
  font-size: 7px;
  color: $dark-gray;
}

.unsubscribe{
  color: $dark-gray !important;
  font-size: 7px;
  text-decoration: underline;
}

.icon-container{
  display: flex;
  justify-content: space-around;
  i {
    color: $dark-gray;
    font-size: 10px;
  }
}