<columns small="12" large="9">
  <spacer size="30"></spacer>
  <div class="footer-links">
    <a href="#">Interior Landscaping</a> |
    <a href="#">Living Green Walls</a> |
    <a href="#">Holiday Decor</a> |
    <a href="#">Acoustic Art Blooming Programs</a> |
    <a href="#">Floral Design</a>
  </div>
  <spacer size="10"></spacer>
  <p class="footer-text">&copy; Ambius, a divion of Rentokal Initial pic. All rights reserved. You are receiving this
    email because of your
    relationship with Ambius. If you would like to edit your interests or no longer recieve these emails, you can safely
    and easily unsubscribe from below.</p>
  <spacer size="8"></spacer>
  <p class="address"><strong>Our mailing address is</strong><br>
    Ambius, a division of Rentokil Initial plc<br>
    1125 Berkshire Blvd Suite 150<br>
    Reading, PA 19610
  </p>
  <spacer size="10"></spacer>
  <a class="unsubscribe" href="#">unsubscribe</a>
</columns>
<columns small="12" large="3">
  <spacer size="30"></spacer>
  <img src="../assets/img/ambius_logo_enhancing.png" alt="footer logo">
  <spacer size="20"></spacer>
  <row>
    <div class="icon-container">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
    </div>
  </row>
</columns>